body {
    background-color: #fff;
}

.hide-block {
    display: none;
}

.link {
    cursor: pointer;
    color: rgb(33, 150, 243) !important;
    display: block;
}

.pointer {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline !important;
}

header {
    padding: 10px 0 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    text-align: center;
}

header .center-block {
    display: inline-block;
}

.app-name {
    margin: 5px;
}

footer {
    margin-top: 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
}

#share_friends {
    font-size: 10px;
    text-align: center;
}

footer > div {
    font-size: 12px;
    text-align: center;
}

.text-grey {
    color: grey;
}

.text-bold {
    font-weight: bold;
}

.jssocials-share-link { border-radius: 50%; }

/* Boostrap 3 panels */

.panel-heading, .panel-footer {
    padding: 5px 15px;
}

.dropup.caret {
    content: "";
    border-top: 0;
    border-bottom: 4px dashed;
}

.caret {
    margin-left: 10px;
}

.list-group .list-group-item .list-group-item-heading {
    font-size: 14px;
    line-height: 14px;
}

.list-group-item-text {
    margin-bottom: 0;
    line-height: 1;
    font-size: 12px;
}

#results .list-group-item {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#results .list-group .list-group-item .row-picture {
    float: left;
}

#results .list-group .list-group-item .row-content {
    float: left;
    min-height: unset;
    height: auto;
}

.vertical-scroll {
    overflow: auto;
    height: auto;
    max-height: 260px;
}

.list-group {
    margin-bottom: 0;
}

.parenthesis {
    margin-left: 5px;
}

.parenthesis:before {
    content: '(';
}

.parenthesis:after {
    content: ')';
}

.form-group {
    margin-top: 0;
}

.form-group label.control-label {
    margin-top: 0;
}

#nothing_to_added {
    margin: 20px 0 0 0;
    font-size: 12px;
}

.active-filter label.control-label {
    color: #009688;
}