<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/components/css/stepper.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/components/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/jssocials/dist/jssocials.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/jssocials/dist/jssocials-theme-flat.css" />
    <link rel="stylesheet" type="text/css" href="/components/css/popup.css">
</head>
<body>
    <div class="container" style="min-width: 320px">
        <header>
            <h3 class="pull-left app-name">Linkedin <sup class="text-danger">boost</sup></h3>
            <img src="/components/img/christmas_tree.png" class="pull-left">
            <div class="clearfix"></div>
        </header>

        <div id="not_linkedin" class="hide-block">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__supporting-text">
                    <div class="mdl-stepper-horizontal-alternative">
                        <div class="mdl-stepper-step active-step">
                            <div class="mdl-stepper-circle pointer" data-link-url="https://www.linkedin.com/">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </div>
                            <div class="mdl-stepper-title">
                                <span data-translation="login"></span>
                                <span data-link-url="https://www.linkedin.com" class="link">Linkedin</span>
                            </div>
                            <div class="mdl-stepper-bar-left"></div>
                            <div class="mdl-stepper-bar-right"></div>
                        </div>
                        <div class="mdl-stepper-step active-step">
                            <div class="mdl-stepper-circle pointer" data-link-url="https://www.linkedin.com/people/pymk?trk=nav_responsive_sub_nav_pymk">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </div>
                            <div class="mdl-stepper-title">
                                <span data-translation="visit_special"></span>
                                <span
                                        data-link-url="https://www.linkedin.com/people/pymk?trk=nav_responsive_sub_nav_pymk"
                                        class="link"
                                        data-translation="page"
                                ></span>
                            </div>
                            <div class="mdl-stepper-bar-left"></div>
                            <div class="mdl-stepper-bar-right"></div>
                        </div>
                        <div class="mdl-stepper-step active-step step-done">
                            <div class="mdl-stepper-circle"><i class="fa fa-users" aria-hidden="true"></i></div>
                            <div class="mdl-stepper-title" data-translation="add_new_contacts"></div>
                            <div class="mdl-stepper-bar-left"></div>
                            <div class="mdl-stepper-bar-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="other_linkedin" class="hide-block">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__supporting-text">
                    <div class="mdl-stepper-horizontal-alternative">
                        <div class="mdl-stepper-step active-step">
                            <div data-link-url="https://www.linkedin.com/people/pymk?trk=nav_responsive_sub_nav_pymk"
                                 class="mdl-stepper-circle pointer">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </div>
                            <div class="mdl-stepper-title">
                                <span data-translation="visit_special"></span>
                                <span
                                        data-link-url="https://www.linkedin.com/people/pymk?trk=nav_responsive_sub_nav_pymk"
                                        class="link"
                                        data-translation="page"
                                ></span>
                            </div>
                            <div class="mdl-stepper-bar-left"></div>
                            <div class="mdl-stepper-bar-right"></div>
                        </div>
                        <div class="mdl-stepper-step active-step step-done">
                            <div class="mdl-stepper-circle"><i class="fa fa-users" aria-hidden="true"></i></div>
                            <div class="mdl-stepper-title" data-translation="add_new_contacts"></div>
                            <div class="mdl-stepper-bar-left"></div>
                            <div class="mdl-stepper-bar-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="add_contacts" class="hide-block">
            <div class="panel panel-info can-toggle">
                <div class="panel-heading pointer">
                    <span class="pull-left" data-translation="add_contacts"></span>
                    <span class="pull-right">
                        <span class="caret"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="btn-group-gorizontal">
                        <button data-add-contacts="50" class="btn btn-raised btn-success">50</button>
                        <button data-add-contacts="100" class="btn btn-raised btn-success">100</button>
                        <button data-add-contacts="200" class="btn btn-raised btn-success">200</button>
                    </div>
                </div>
                <div class="panel-footer">
                    <span data-translation="total_invited" class="text-grey"></span>
                    <span id="total_added_number" class="text-bold"></span>
                </div>
            </div>
            <div id="results" class="panel panel-info hide-block can-toggle">
                <div class="panel-heading pointer">
                    <span class="pull-left" data-translation="results"></span>
                    <span id="number_invited_now" class="pull-left hide-block">0</span>
                    <span class="pull-right">
                        <span class="caret"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body vertical-scroll">
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="row-picture">
                                <img width="56px" height="56px" class="circle" src="" alt="icon">
                            </div>
                            <div class="row-content">
                                <h6 class="list-group-item-heading text-bold"></h6>
                                <p class="list-group-item-text text-grey"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div data-translation="share_friends" class="text-grey"></div>
            <div id="share_friends"></div>
        </footer>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/js/material.min.js"></script>
    <script src="/components/js/class.localstorage.js"></script>
    <script src="/components/js/popup.js"></script>
    <script src="/bower_components/jssocials/dist/jssocials.min.js"></script>
</body>
</html>